.header{
    position: relative;
    background-image: url('../assets/images/header-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
}

/* Overlay oscuro solo sobre el fondo */
.header::after {
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(23, 23, 23, 0.5); /* Ajusta la opacidad si lo deseas */
    pointer-events: none;
    z-index: 1;
}

.header-title{
    margin: 20rem 5rem;
    position: relative;
    z-index: 2;
}

.header-grid{
    display: flex;
    position: relative;
    z-index: 2;
}

.header-title-text{
    font-size: 12rem; /* 32px */
    font-weight: 900;
    color: var(--color-text);
    text-align: left;
}

.header-title-description{
    font-size: 2rem; /* 16px */
    color: var(--color-text);
    margin-top: 1rem;
    position: relative;
    z-index: 2;
}